<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{diagonismos.name}}">
<ion-content class="background1 " >

<!-- <img ng-src="{{diagonismos.face}}" style="width: 64px; height: 64px"> -->
<!-- <p>
  {{diagonismos.lastText}}
</p> -->

<h1 class="subheading1" translate="Redeem point gifts"></h1>


<div class="center">

  <div class="headeing2 bold assertive margin-top10">{{campaign.name}}</div>
  <img class="img150x100 margin-top10" src="{{campaign.imageSmall}}" alt=""  />


<p class="paddingLR20">{{campaign.product}}</p>

<p>Δήλωσε συμμετοχή σήμερα!</p>

</div></div>

<div class="width100 background2 center padding">  
  <!--<div class="button  button-assertive button1 heading4" ng-click="toggle = !toggle" >
    {{toggleText}}
  </div>-->
<div ng-click="participationToggle = !participationToggle"><span class="button  button-assertive button1 heading4" ng-show="participationToggle">ΔΗΛΩΣΕ ΣΥΜΜΕΤΟΧΗ</span><span class="button button1 heading4" ng-hide="participationToggle">Έχεις δηλώσει συμμετοχή</span></div>


 <div class="" > 
  <p class="heading4 margin-bottom0 margin-top10" ><span ng-show="participationToggle"> {{'Participation requirements' | translate }}:</span><span ng-hide="participationToggle">Τα αποτελεσματα θα ανακοινωθουν στης 10 / 5 / 2015</span></p>
  <h4  class="assertive inline-block"><span ng-show="participationToggle">{{campaign.price}}</span><span ng-hide="participationToggle"></span></h4>
  <img ng-show="participationToggle" class="list-p-icon inline-block" src="img/p_icon.png" alt="" /></div>


</div>


</ion-content>
</ion-view>