<ion-view view-title="">
<ion-content class="background1">
<ion-nav name="tab-gift-giftDetail"></ion-nav>

<h1 class="subheading1" translate="Redeem point gifts"></h1><div class="center padding">
  <img style="margin-top:10px;" class="small-thumb img150x100 center" src="{{getCouponBrandImageResourceUrl(coupon)}}" alt="" />
  <p class="heading4 bold">{{getCouponResource(coupon, "name")}}</p>
  <h3 class="heading4">{{"Until" | translate}}  {{getCouponEndDate(coupon) }}</h3>
  <p>{{"Cost" | translate}}: <span class="heading3 assertive bold inline-block">{{coupon.code}}</span>&nbsp;<img class="inline-block list-p-icon" src="img/p_icon.png" alt="">
  <span   class="points red">{{ getCouponPrice(coupon) }}</span>
</p>
<img  src="{{getCouponLogoResourceUrl(coupon)}}" class="img150x100 center" alt="" /></div>
<div class="white-box left">
<div  class="width100 background2 center padding">
  
  
  <button class="button button-assertive button1 heading4" ng-click="purchaseCoupon(coupon)" translate="Acquire it" ></button>
  <script id="popup-aquire.html" type="text/ng-template"></script>
    
  <p style="margin: 20px 0px 0px 0px;" class="left margin-bottom0">Μέχρι {{ getCouponEndDate(coupon) }}</p>
  <p class="left" >Ισχύει για όλους τους κινηματογράφους Village.</p>
</div>
</div>
</div>
</ion-content>
</ion-view>