<ion-side-menus enable-menu-with-back-views="true" id="appContainer">
    <!-- Center content -->
    <ion-side-menu-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" is-enabled="english">
        <div ng-include="'templates/sideMenu.html'"></div>
    </ion-side-menu>
    <ion-side-menu side="right" is-enabled="!english">
        <div ng-include="'templates/sideMenu.html'"></div>
    </ion-side-menu>
</ion-side-menus>

