<!-- leaderboard -->
<ion-view hide-back-button="true" view-title="" class="gifts leaderboards" >
<ion-content class="background1">
<h1 class="subheading1" translate="leaderboards"></h1>

<ion-list>

<ion-item class="item-remove-animate  item-icon-right background1" ng-repeat="item in items" type="item-text-wrap" >
<div class="row row-no-padding" on-tap="leaderDetails(item)">
  <div class="col col-c85px">
   <img class="img80x80" style="z-index:0;" ng-src="{{getItemImageResourceUrl(item)}}">
  </div>
  <div class="col paddingL10 item-text-wrap" style="margin: 10px 0px 0px 0px;">
    <h3 class="heading4 bold" >{{getResource(item, "name")}} </h3>
    <span style="display:block;margin-top:5px;" class="heading3 margin-top10">Πόντοι:  <span class="bold">{{item.score}}
      &nbsp<img class="list-p-icon" src="img/p_icon.png" alt="" />
    </span> <br>
    <span  class="heading3 margin-top20">Θέση:  <span class="bold">{{item.ranking}}
    </span> 
  </span>
  </div>
</div>

<i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>

</ion-list>
</ion-content>
</ion-view>