<div class="background1  padding10 register" ng-controller="UserBarController">
 <div class="pull-right" ng-class="{'pull-left':isMobile}">
  <div ng-click="changeLanguage((language == 'en')? 'el': 'en')">
    	<span translate="Switch_Language"></span>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<img ng-show="isMobile" class="center-block" id="logo" />
<img ng-show="!isMobile" class="login-logo center-block" src="img/logo-03.png" /> 
<br />
<br/>

<span>{{ 'Username' | translate }}</span>
<br/>

<div class="inputDiv">
  <!-- <img ng-show="isMobile" class="left" id="usernameLogo" /> -->
  <!-- <img ng-show="!isMobile" src="img/login/username_icon.png" /> -->
  <input class="input-field" type="text" ng-value="user.username" ng-model="user.username" placeholder="{{ 'Username' | translate }}"/>
</div>
<!-- <br/> -->
<span>{{ 'Password' | translate }}</span>
<br/>

<div class="inputDiv">
  <!-- <img ng-show="isMobile" id="passwordLogo" /> -->
  <!-- <img ng-show="!isMobile" src="img/login/password_icon.png" /> -->
  <input class="input-field" type="password" ng-value="user.password" ng-model="user.password" placeholder="{{ 'Password' | translate }}"/>
</div>

<!-- <br/> -->
<br/>
<div class="container-fluid no-padding">
  <div class="row row-no-padding">
    <div class="col padding-right10">
      <a class="button button1 button-assertive center-block" id="loginBtn" ng-click="login()"><small>{{ 'Login' | translate }}</small></a>
    </div>
    <div class="col padding-left10">
      <a class="button button1 center-block" id="guestBtn" ui-sref="register"><small>{{ 'Register' | translate }}</small></a>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <div class="row-fluid no-padding">
    <div class="text-center" >
      <a id="forgotPasswordBtn" class="linBtn"  ng-click="forgotPassword()"><h4  class="heading4 dark">{{ 'forgotPassword' | translate}}</h4  class="heading4"></a>
    </div>
    <div ng-if="isMobile">
      <div class="col-xs-1 no-padding">
        <a id="separator"  class="linBtn"  ><small>|</small></a>
      </div>
      <div class="text-center">
        <a id="registerBtn" class="linBtn"  ui-sref="tab.home"><small>{{ 'Login_guestBtn' | translate }}</small></a>
      </div>
    </div>
  </div>
</div>



</div>
