<!-- messages -->
<ion-view hide-back-button="true" view-title="" class="background1 campaigns" >
<ion-content class="background1">
<h1 class="subheading1">Μηνύματα</h1>

<ion-list>
<ion-item class="item-remove-animate  item-icon-right" ng-repeat="message in messages" type="item-text-wrap">
<div class="row row-no-padding">
  <div class="col col-c85px">
    <img class="img80x80" ng-src="{{getMessageImage(message)}}">
  </div>
  <div class="col  item-text-wrap paddingL10">
     <p ng-if="isUnread(message)">{{'Notifications_New' | translate}}</p>
        <p class="heading2" translate=""  ng-bind-html="message.content"  ></p>
        <span class="">{{getMessageDate(message)}}</span>
        
  </div>
  
  <div class="col-xs-1 col-md-1 col-left" ng-class="{'col-xs-height': !isMobile}">
     <img ng-click="delete(message)" class="" src="img/remove_btn.png" />
  </div>
</div>
</ion-item>
  <ion-infinite-scroll  ng-if="!loadMore()"  on-infinite="addMoreItems()"  distance="50%" parent="true"  >
  </ion-infinite-scroll>
</ion-list>
</ion-content>
</ion-view>