<!-- favorites -->
<ion-view view-title="" class="gifts" >
<ion-content class="background1">
<h1 class="subheading1" translate="Updates"></h1>

<ion-list>
<ion-item class="item-remove-animate  item-icon-right" ng-repeat="redeem in redeemed" type="item-text-wrap" href="#/tab/redeemed/{{gift.id}}">
<div class="row row-no-padding">
  <div class="col col-c85px">
    <img class="img80x80" ng-src="{{}}">
  </div>
  <div class="col paddingL10 item-text-wrap">
    <h3 class="heading4 bold" >{{}} </h3>
    <span class="heading3 margin-top10">Κόστος: <span class="bold">{{}}</span> </span>
    <img class="list-p-icon" src="" alt="" />
  </div>
</div>

<i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
</ion-list>




</ion-content>
</ion-view>