<!-- redeemed -->
<ion-view hide-back-button="true" view-title="" class="gifts" >
<ion-pane class="background1 panePos">
<h1 class="subheading1">Τα δώρα εξαργύρωσης πόντων</h1>
<ion-scroll class="red-stripe wide-as-needed"  direction="x">
    <a class="button" ng-click="changeCouponStatus(activeCouponStatus, 'active', 'CouponStatus_Active'); setGroupFilter('Active')" ng-class="{selected1:pressed == 'Active'}">{{('CouponStatus_Active'| translate)}}</a>
    <a class="button" ng-click="changeCouponStatus(consumedCouponStatus, 'consumed', 'CouponStatus_Consumed');setGroupFilter('Consumed')" ng-class="{selected1:pressed == 'Consumed'}">{{('CouponStatus_Consumed'| translate)}}</a>
    <a class="button" ng-click="changeCouponStatus(expiredCouponStatus, 'expired', 'CouponStatus_Expired');setGroupFilter('Expired')" ng-class="{selected1:pressed == 'Expired'}">{{('CouponStatus_Expired'| translate)}}</a>
</ion-scroll>

<ion-scroll direction="y" style="width: 100%; height: 100%" class="scroll-padding">
<ion-list>
<ion-item class="item-remove-animate  item-icon-right" ng-class="coupons-item" ng-repeat="coupon in coupons" type="item-text-wrap">
<div class="row row-no-padding" on-tap="couponDetails(coupon)">
  <div class="col col-c85px">
    <img class="img80x80" ng-src="{{getCouponLogoResourceUrl(coupon)}}">
  </div>
  <div class="col paddingL10 item-text-wrap">
    <h3 class="heading4 bold" >{{getCouponResource(coupon, "name")}}</h3>
    <span class="heading3 margin-top10" data-ng-if="coupon.numOfAvailableCoupons <= 0" style="margin-bottom: 0px"><p>{{ ('NO_MORE_COUPONS' | translate) }}</p>
    </span>
    <!--data-ng-if="coupon.numOfAvailableCoupons > 0"-->
    <span  style="margin-bottom: 0px">{{ ('Cost' | translate) }}:
    <span class="heading3 margin-top10">{{ getCouponPrice(coupon) }}</span>
    </span>
    <img class="list-p-icon" src="img/p_icon.png" alt="" />
  </div>
</div>
<i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
<!-- Infinite Scroll of The View -->
<ion-infinite-scroll ng-if="moreDataCanBeLoaded()"   on-infinite="addMoreItems()"  distance="50%" parent="true"  >
</ion-infinite-scroll>
<br>
<br>
<br>
</ion-list>
</ion-scroll>



</ion-pane>

</ion-content>
</ion-view>