<ion-view>
<ion-content  class="padding register">
<h1 class="subheading1" translate="Register"></h1>	
<form name="registration_form" class="margin-top10"  novalidate>
<p translate="Email"></p>
		<input class="input-field" type="email"  ng-model="user.email" required  ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"  name="email"     placeholder="{{ 'Email' | translate }}">
		<div class="reg-error" ng-show="formInvalid">
			<p ng-if="registration_form.email.$invalid" class="positive">{{'RegisterForm email error' | translate}}</p>
		</div>
		<p translate="Nickname"></p>
		<input class="input-field" type="text"  ng-model="user.username" required name="username"  placeholder="{{ 'Nickname' | translate }}">
		<div class="reg-error"  ng-show="formInvalid">
			<p ng-if="registration_form.username.$invalid" class="positive">{{'RegisterForm username error' | translate}}</p>
		</div>
		<p translate="Firstname"></p>
		<input class="input-field" type="text"   ng-model="user.customFields.name" required name="name"  placeholder="{{ 'Firstname' | translate }}">
		<div class="reg-error"  ng-show="formInvalid">
			<p ng-if="registration_form.name.$invalid" class="positive">{{'RegisterForm name error' | translate}}</p>
		</div>
		<p translate="Lastname"></p>
		<input class="input-field" type="text" ng-model="user.customFields.surname" required name="surname"   placeholder="{{ 'Lastname' | translate }}">
		<div class="reg-error"  ng-show="formInvalid">
			<p ng-if="registration_form.surname.$invalid" class="positive">{{'RegisterForm lastnames error' | translate}}</p>
		</div>
		<p translate="Password"></p>
		<input class="input-field" type="password" ng-model="user.password" required   name="password" placeholder="{{'Password' | translate }}">
		<div class="reg-error"  ng-show="formInvalid">
			<p ng-if="registration_form.password.$invalid" class="positive">{{'RegisterForm password error' | translate}}</p>
		</div>
		<p translate="Retype password"></p>
		<input class="input-field" type="password" ng-model="user2.retypepassword"  required name="retypepassword"  placeholder="{{'Password' | translate }}">
		<div class="reg-error"  ng-show="formInvalid">
			<p ng-if="registration_form.retypepassword.$invalid" class="positive">{{'RegisterForm retypepass error' | translate}}</p>
			<p ng-if="passwordMismatch" class="positive">{{'RegisterForm password missmatching error' | translate}}</p>
		</div>
		
		
            <label class="register" translate="Gender"></label>
			<label class="item item-input item-select prime-input prime-select-item-input">
                    <select name="gender" ng-model="user.customFields.gender">
						<option value="" disabled selected>{{'Gender' | translate}}</option>
				     	<option value=6>{{'Registration_Gender_Male' | translate}}</option>
				     	<option value=7>{{'Registration_Gender_Female' | translate}}</option>
				    </select>
			</label>
            
		
		<p class="register" translate="Birthday"></p>
		<div sb-date-select name="birthdate" label="" bs-form-control sb-select-class="form-control" show-years="true"   min="01/01/1920" max="{{today}}"   ng-model="user.birthdate"></div>
		
		
		<!--<div class="reg-error" ng-show="formInvalid">
			<p ng-if="registration_form.birthdate.$error.required" class="positive"> {{'Registration_BirthdayIsRequired' | translate}}</p>
		</div>-->
		 
		
           <p class="register">{{'Registration_Nameday' | translate}}</p>
           <div sb-date-select sb-select-class="form-control" show-years="false"  min="01/01" max="{{today}}"  ng-model="user.customFields.nameday"></div>
         
		 
		<p class="register" translate="Area"></p>
		<label class="item item-input item-select prime-input prime-select-item-input">
			<select  ng-model="user.customFields.Nomos" name="Nomos" ng-options="state.id as state.name for state in statesArray | orderBy:'name' " >
				<option value="">{{"Registration_StateHint"|translate}}</option>
			</select>
		</label>
		<!--<div class="reg-error" ng-show="formInvalid">
			<p ng-if="registration_form.Nomos.$error.required" class="positive"> {{'Registration_StateIsRequired' | translate}}</p>
		</div>-->
</form>
	<br>
	<br> 
	<p class="center" translate="All fields are required"></p>
	<button id="QuickRegistrationtBtn" class="button button-block button-positive" translate="Register" on-tap="quickRegistration()">
	</button>
	<button class="button button-block button-positive" translate="Cancel" ng-click="back()">
		<!--<img src="img/back.png">-->
	</button>

<br>
</ion-content>
</ion-view>