

<ion-content>

	
		<ion-list option-buttons="itemButtons" can-swipe="true">
			<label class="item item-divider panePos">
    			Server List
  			</label>
			 <ion-toggle ng-model="addServer.checked" ng-checked="addServer.checked">Add Server </ion-toggle> 
  			<!--<ion-item ng-if="list.length == 0">
				Press <i class="icon ion-ios7-plus-outline"></i> to add item
			</ion-item>-->
			<!--  -->
			<div ng-show='addServer.checked'>
				<br>
			<form novalidate name="form" ng-model="form" >
			<ion-list>
				
				  <li class="item item-input item-stacked-label">
				  	<span class="input-label">Server Url:</span>
				    <input type="text" placeholder="" name="server" ng-model="server" />
					<span class="input-label">Resources Url:</span>
				    <input type="text" placeholder="" name="resources" ng-model="resources" />	
					<span class="input-label">Avatar Url:</span>
				    <input type="text" placeholder="" name="avatar" ng-model="avatar" />						
				  </li>
				  <li class="item item-checkbox">
				  	<label class="checkbox">
						<input type="checkbox" name="useAsDefault" ng-model="useAsDefault" /> 
					</label>
						<span class="input-label">Use as default</span>
				  </li>
				<ion-button class="button button button-dark" ng-click="addItem(form)">Add</ion-button>
				
			</ion-list>
			</form>
			<br>
			</div>
			
			
			
			<label class="item item-divider">
    			Available Servers
  			</label>
			<ion-list>
			<ion-item ng-repeat="item in list" item="item" item-type="item item-icon-left" ng-click="makeDefault(item)" ng-tap="makeDefault(item)">
	  					
						<i ng-if="item.useAsDefault" class="icon ion-checkmark"></i>
	  					<br>
						ServerUrl:&nbsp;{{ item.server}}<br>
						ResourcesUrl:&nbsp;{{ item.resources}}<br>
						AvatarUrl:&nbsp; {{ item.avatar}}<br>
						<button class="button button-block button-positive" ng-click="removeItem(item)">remove</button>
			</ion-item>
			</ion-list>
			<br>
		<button class="button button-block button-dark" ng-click="launch(form)">Launch</button>
		
	</ion-content>