<ion-view  view-title="">
  
<ion-pane class="background1 campaigns panePos">

<h1 class="subheading1" translate="Campaigns and Votings"></h1>
<ion-scroll class="red-stripe wide-as-needed"  direction="x">
<a ng-click="setCampaignFilter()" ng-class="{selected1:pressed == 'campaignsPressed'}" class="button" title="" translate="Campaigns"></a>
<a ng-click="setPollFilter()" ng-class="{selected1:pressed == 'pollsPressed'}" class="button" title="" translate="Votings"></a>
</ion-scroll>

  <div ng-if="campaigns" ng-include="'templates/competitions.html'"></div>
  <div ng-if="polls" ng-include="'templates/polls.html'"></div>

</ion-pane>
</ion-view>