<ion-view view-title="">
  <ion-content class="padding" style="background-color:#ddd;">
<ion-nav-back-button name="tab.home"  class=" button-assertive button-clear back-button">

</ion-nav-back-button>


    <!--<div class="card news" ng-click="goToState(homeNews.linkTo)" ng-repeat="homeNews in homeData">
        <div class="item item-divider home-card-header heading5">
          {{homeNews.header}}
        </div>
        <div class="item item-text-wrap" style="padding:2px 10px;">
          <div class="row row-no-padding">
            <div class="col col-c85px center" >
              <img class="img80x80 " ng-src="{{homeNews.image}}" alt="" />
              <h3 style="text-align:center">{{homeNews.ratio}}</h3>
            </div>
            <div class="col info paddingL10">
              <h3 class="heading4 bold margin-top10">Ασφάλειες εν Οίκω για κύρια κατοικία.</h3>
              <h2 class="heading3  margin-top10" >{{'Win' |translate}}:
                <span class="heading2 bold">{{homeNews.points}}</span>
                <img class="list-p-icon"src="img/p_icon.png" alt="" />
              </h2>
            </div>
          </div>
        </div>
      </div>-->



<div class="card news" ng-click="toAction(mainCategory)">
<div class="item item-divider home-card-header heading5">
         {{getItemName(mainCategory)}}
        </div>
        <div class="item item-text-wrap" style="padding:2px 10px;">
          <div class="row row-no-padding">
            <div class="col col-c85px center" >
              <img class="img80x80 " ng-src="{{getItemImageUlr(mainCategory)}}" alt="" />
              <h3 style="text-align:center">{{homeNews.ratio}}</h3>
            </div>
            <div class="col info paddingL10">
              <h3 class="heading4 bold margin-top10"> {{getItemName(mainCategory)}}</h3>
              <h2 class="heading3  margin-top10" >{{'Win' |translate}}:
                <span class="heading2 bold">{{homeNews.points}}</span>
                <img class="list-p-icon"src="img/p_icon.png" alt="" />
              </h2>
            </div>
          </div>
        </div>
</div>
<!-- <span class="icon-gift"></span> -->

    <div class="card news" ng-repeat="item in items" ng-if="item.index!=0" ng-click="toAction(item)">
        <div class="item item-divider home-card-header heading5">
         {{getItemName(item)}}
        </div>
        <div class="item item-text-wrap" style="padding:2px 10px;">
          <div class="row row-no-padding">
            <div class="col col-c85px center" >
              <img class="img80x80 " ng-src="{{getItemImageUlr(item)}}" alt="" />
              <h3 style="text-align:center">{{homeNews.ratio}}</h3>
            </div>
            <div class="col info paddingL10">
              <h3 class="heading4 bold margin-top10"> {{getItemName(item)}}</h3>
              <h2 class="heading3  margin-top10" >{{'Win' |translate}}:
                <span class="heading2 bold">{{homeNews.points}}</span>
                <img class="list-p-icon"src="img/p_icon.png" alt="" />
              </h2>
            </div>
          </div>
        </div>
      </div>


  </ion-content>
</ion-view>
