<!--  -->
<ion-view view-title="">
  <ion-content class="background1 prime padding">
<h1 style="height: 40px;font-size: 18px;padding: 10px;color: #444; " translate="PrimeHeader"></h1>
     <div class="row row-no-padding " ng-repeat="row in items | inSlicesOf:2" >
     	<div class="col thumb center" ng-repeat="item in row" ng-click="goToState(item.linkTo)">
     		<img ng-src="{{item.img}}" alt="">
     		<h3 class="heading3">{{item.descr}}</h3>
     	</div>

     </div> 

  </ion-content>
</ion-view>
