<!-- dora -->
<ion-view view-title="" class="gifts" >


<ion-pane class="background1 panePos">

<h1 class="subheading1" translate="giftsForRedeeming"></h1>

<ion-scroll class="red-stripe wide-as-needed"  direction="x">
<a ng-click="setGroupFilter(); setAllFilter()" ng-class="{selected1:pressed == 'all'}" class="button" title="" translate="all" ></a>
<a ng-click="setGroupFilter('VillageCinemas')" ng-class="{selected1:pressed == 'VillageCinemas'}" class="button" title="">Village Cinemas</a>
<a ng-click="setGroupFilter('Mediterra')" ng-class="{selected1:pressed == 'Mediterra'}" class="button" title="">Mediterra</a>
<a ng-click="setGroupFilter('AigliZapiou')" ng-class="{selected1:pressed == 'AigliZapiou'}" class="button" title="" translate="aigliZapiou"></a>
</ion-scroll>

<ion-scroll direction="y" style="width: 100%; height: 100%" class="scroll-padding">
<ion-list>
<ion-item class="item-icon-right" ng-repeat="gift in gifts | filter:gifts.kind" type="item-text-wrap" href="#/tab/gifts/{{gift.id}}">
<div class="row row-no-padding">
  <div class="col col-c85px">
    <img class="img80x80" ng-src="{{gift.img}}">
  </div>
  <div class="col paddingL10 item-text-wrap">
    <h3 class="heading4 bold" >{{gift.product}} </h3>
    <span class="heading3 margin-top10">Κόστος: <span class="bold">{{gift.points}}</span> </span>
    <img class="list-p-icon" src="img/p_icon.png" alt="" />
  </div>
</div>
<i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
<br>
<br>
<br>
</ion-list>
</ion-scroll>



</ion-pane>
</ion-view>