<ion-view view-title="">
<ion-content class="background1 missions">


<h1 class="subheading1" translate="Months missions"></h1>

	
	<ion-list ng-click="displaySideMenu()" >

		<ion-item class="item item-checkbox " style="padding:2px 10px;" ng-repeat="badge in badges">

			<div class="row relative">
				<div class=" col col-c85px">
					<img class="img80x80 center" ng-src="{{getLogoResourceUrl(badge)}}" alt="" />
					<h3 style="text-align:center">{{badge.progressSoFar}} / {{badge.completionValue}}</h3>
				</div>
				<div class="col item-text-wrap">
					<h3 class="heading4 bold ">{{ getResource(badge, "name") }}</h3>
					<h2 class="heading3 margin-top20">
						<span class="">{{"Reward points" | translate}}: {{getReward(badge)}}</span>
							<img class="list-p-icon"src="img/p_icon.png" alt="" />
						</h2>
					</div>
						<label  class="checkbox" >
							<!--<ion-checkbox ng-if="badge.percentage >= 100" ng-model="isChecked" style="float:right;" ></ion-checkbox>-->
						<img  class="tick1" ng-if="badge.percentage >= 100" style="bottom:-55px;" src="img/tick.png" alt="" />
						</label>
				</div>
			</ion-item>

		</ion-list>

		<div class=" item-text-wrap width100 center background2 padding">
			<h1 class="heading3 bold" translate="Complete all missions and win"></h1>
		<h2 class="heading3 assertive bold">1.000 {{"Points" | translate}}</h2>

		</div>



</ion-content>
</ion-view>
