<!-- acount rename -->

<ion-side-menus enable-menu-with-back-views="true" class="tabs1">
<ion-side-menu-content  >

<ion-nav-bar title="">
<ion-nav-back-button class="button-assertive button-clear back-button"></ion-nav-back-button>	
<ion-nav-buttons side="left" title="">
<img  menu-toggle="left" src="img/burger.png" class="button button-clear sideMenuBtn">
<img  class="titleimg" src="img/logo.jpg"  />
</ion-nav-buttons>
<ion-nav-buttons side="right" title="" >
<div class = "rightnav" style="" ng-controller="UserBarController">
			<h2 class="tabs-points bold header-points "  ng-click="goToState('tab.howTo&Redeem')" >{{points}}
				<img class="header-points-icon"  src="img/p_icon.png">
			</h2>
			
</div>
</ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-dark "  style="background-color:#fff;" >
<!-- Home Tab -->
<ion-tab title="" icon-off="news-icon" icon-on="news-icon-red"  class="" href="#/tab/home">
<ion-nav-view name="tab-home"></ion-nav-view>
</ion-tab>
<!-- Gifts Tab -->
<ion-tab title="" icon-off="dora-icon" icon-on="dora-icon-red" href="#/tab/gifts">
<ion-nav-view name="tab-gifts"></ion-nav-view>
</ion-tab>
<!-- Missions Tab -->
<ion-tab title="" icon-off="missions-icon" icon-on="missions-icon-red" href="#/tab/missions">
<ion-nav-view name="tab-missions"></ion-nav-view>
</ion-tab>
<!-- Campaigns Tab -->
<ion-tab title="" icon-off="diagonismoi-icon" icon-on="diagonismoi-icon-red" href="#/tab/campaigns">
<ion-nav-view name="tab-campaigns"></ion-nav-view>
</ion-tab>
<!-- Prime Tab -->
<ion-tab title="" icon-off="prime-icon" icon-on="prime-icon-red" href="#/tab/prime">
<ion-nav-view name="tab-prime"></ion-nav-view>
</ion-tab>
<!-- SideMenu Tab -->
<ion-tab hidden="true">
<ion-nav-view name="tab-sideMenu"></ion-nav-view>
</ion-tab>
</ion-tabs>
</ion-side-menu-content>

<ion-side-menu side="left" >
<ng-include src="'templates/sideMenu.html'"></ng-include>
</ion-side-menu>
</ion-side-menus>
