.achievements .tick1 {
width:25px;
height: auto;
position:absolute;
right:20px;
top:55px;

}

.achievements .item-complex.item-icon-right .item-content {
padding-right:  20px;
}

.achievements .progress-bar-full {
	width:150px;
	height: 30px;
	background-color: #444;
	text-align: center;
	border:solid 2px #444 ;
  display: inline-block;
  margin:15px 0 0 0;

	// position: relative;
	
}

.achievements .progress-bar {
	/*width:50%;*/
	height: 26px;
	background-color: $assertive;
	text-align: left;

	
}

.achievements .percent {
	  margin-bottom: 7px!important;
  margin-left:7px;
  display: inline-block;
}

.achievements .percent-container {
	margin-left:96px;
}