
$c65px:65px;
.col-c65px {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 $c65px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 $c65px;
	-ms-flex: 0 0 $c65px;
	flex: 0 0 $c65px;
	max-width: $c65px; 
}
$c85px:85px;
.col-c85px {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 $c85px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 $c85px;
	-ms-flex: 0 0 $c85px;
	flex: 0 0 $c85px;
	max-width: $c85px; 
}

$c85:85%;
.col-c85 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 $c85;
	-moz-box-flex: 0;
	-moz-flex: 0 0 $c85;
	-ms-flex: 0 0 $c85;
	flex: 0 0 $c85;
	max-width: $c85; 
}

$c65px:65px;
.col-c65px {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 $c65px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 $c65px;
	-ms-flex: 0 0 $c65px;
	flex: 0 0 $c65px;
	max-width: $c65px; 
}

$c50px:50px;
.col-c50px {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 $c50px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 $c50px;
	-ms-flex: 0 0 $c50px;
	flex: 0 0 $c50px;
	max-width: $c50px; 
}
$c25px:25px;
.col-c25px {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 $c25px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 $c25px;
	-ms-flex: 0 0 $c25px;
	flex: 0 0 $c25px;
	max-width: $c25px; 
}

 .p-icon:after {
	background-image:url('../img/p_icon1.png');
	background-size:0.8em 0.8em;
	width:0.8em;
	height: 0.8em;
	display:inline-block;
	margin:0px 0px 0 5px;
	content:"";
}

.pane{
	padding-top: 0px;
}

.padding0 {
	padding:0!important;
}



.padding5 {
	padding:5px!important;
}

.padding10 {
	padding:10px!important;
}

.padding-left10 {
	padding-left: 10px!important;
}
.padding-right10 {
	padding-right: 10px!important;
}

.padding-top10 {
padding-top:10px!important;
}

.paddingLR10 {
	padding-left:10px!important;
	padding-right:10px!important;
} 
.paddingLR20 {
	padding-left:20px;
	padding-right:20px;
} 
.paddingL10, .row-no-padding .paddingL10 {
	padding-left:10px;
} 

.img80x80 {
	width:80px;
	height:80px;
}
.img50x50 {
	width:50px;
	height:50px;
}


.img30x30 {
	width:30px;
	height:30px;
}

.img130x100 {
	width:130px;
	height:100px;
}

.img100width {
	width:100%;
	height: auto;
}

.heading0 {
	font-size:28px;
	font-weight:400;
}
.heading1 {
	font-size:21px!important;
	font-weight:400;
}
.heading2 {
	font-size:18px!important;
	font-weight:400;
}
.heading3, .item .heading3{
	font-size:16px!important;
	font-weight:400;
}
.heading4, .item h4 {
	font-size:14px!important;
	font-weight:400;
}
.heading5, .item h5 {
	font-size:12px!important;
	font-weight:400;
}
.heading6 {
	font-size:10px!important;
	font-weight:400;
}

.bold {
	font-weight:500!important;
}
.bolder {
	font-weight:700!important;
}

.margin-top0, .item .margin-top0 {
	margin-top:0px;
}

.margin-top5, .item .margin-top5 {
	margin-top:5px!important;
}

.margin-top10, .item .margin-top10 {
	margin-top:10px;
}

.margin-top20, .item .margin-top20 {
	margin-top:20px;
}

.margin-top30 {
	margin-top:30px;
}

.margin-top40 {
	margin-top:40px;
}

.margin-top30 {
	margin-top:30px;
}

.margin-bottom0 {
	margin-bottom:0;
}
.margin-bottom10 {
	margin-bottom:10px;
}

.center {
	text-align:center;
}
.left {
	text-align:left;
}

.subheading1, h1.subheading1 {
	height:40px;
	font-size:18px;
	padding:10px;
	border-bottom:solid 1px #ccc;
	margin-bottom:0;
	color:$dark;
	margin-top: 0;

}

.subheading2, h1.subheading2 {
	height:40px;
	font-size:18px;
	padding:10px;
	// border-bottom:solid 1px #ccc;
	margin-bottom:0;
	color:$dark;
	margin-top: 0;

}



.background1 {
	background-color:#E5E6E6;
}

.red-stripe {
	height:30px;
	min-height:30px;
	font-size:16px;
	padding:10px;
	background-color:$assertive;
	width:100%;
	padding:5px;
}

.red-stripe .button {
	height:20px;
	min-height:20px;
	line-height:20px;
	border:none;
	background-color:$assertive;
	color:$light;
	font-size:15px;


}

.wide-as-needed {
// overflow: scroll;
white-space: nowrap;
}

.scroll { 
	min-width: 100%;
}

.list-p-icon {
	width:18px;
	height:auto;
}

.ion-chevron-right:before {
	content: "";
}

.width100 {
	width:100%;
}

.background2 {
	background-color:$light!important;
}


.normal {
	font-weight:400!important;
}

.italic {
	font-style:italic;
}

.border-none {
	border-bottom:none!important;
}

.button1, .button.button1 {
	line-height:22px;
	min-height:30px;
	padding:5px 10px;
}

.inline-block {
	display:inline-block;
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.back-button {
	width:17px;
	height:29px;
	background-image:url('../img/back.png');
	background-repeat:no-repeat;
	margin-top:-2px;
}
.back-button span.default-title {
	display:none;
}
.panePos
{
	padding-top:$bar-height;
	padding-bottom:$tabs-height;
}

.scroll-padding
{
	padding-bottom:$tabs-height!important;
}

.text-right {
	text-align:right;
}

.relative {
	position: relative;
}

.line1 {
	width:80%;
	border-bottom:solid 1px #5C5858;
	margin:3px 20px;
}

.tick1 {
width:25px;
height: auto;
position:absolute;
right:20px;


}

.selected1 {
	color: #000!important;
}