
// To customize the look and feel of Ionic, you can override the variables
// in ionic's _variables.scss file.

// For example, you might change some of the default colors:

$light:                           #fff !default;
// $stable:                          #f8f8f8 !default;
$positive:                        #F11D26 !default;
$calm:                            #969696 !default;
$balanced:                        #e5e6e6 !default;
// $energized:                       #ffc900 !default;
$assertive:                       #F11D26 !default;
// $royal:                           #886aea !default;
// $dark:                            #444 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "app/lib/ionic/scss/ionic";
@import "general";
@import "sidemenu";
@import "tabs";
@import "gifts";
@import "missions";
@import "campaigns";
@import "prime";
@import "howtoredeem";
@import "achievments";
@import "sidemenu";
@import "leaderboards";
@import "loading";
@import "registration";
@import "login";
// @import "home";
@import "news";
// @import "loading";
.app-body{
  background-color:#000000!important;
  //Forced GPU RENDER
  -webkit-transform: translate3d(0, 0,1);
  -moz-transform: translate3d(0, 0, 1);
  -ms-transform: translate3d(0, 0, 1);
  -o-transform: translate3d(0, 0, 1);
  transform: translate3d(0, 0, 1);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}







