.leaderboards .item-icon-right {
	padding-right: 20px;;
}

.leaderboards .item {
	padding-top:5px;
	padding-bottom: 5px;
	padding-left:15px;
border-color: #D2D2D2;
}

.leaderboards h1.ranking {
	font-size:28px;
	font-weight: 400;
	text-align: center;
	margin-right: 10px;
}

.leaderboards .list-p-icon {
	
}