.prime .thumb {
	height:100px;
	margin:0 10px 60px 10px;

}

.prime .thumb img {
	width:100%;
	height:100px;
}

.prime .thumb h3 {
	background-color:$assertive;
	color:$light;
	padding:6px 0;
	text-align:center;
	margin-top:-5px;
	width:100%;
}

