

.register input.input-field, .input-field {
  border-radius: 5px;
  margin: 0 0 10px 0;
  width: 100%;
  padding: 0 10px;
  border: solid 2px #ccc;
  background-color: #F1F2F2; 
  height:40px;

}


.prime-input {
  background-color: #ccc !important;
  background-image: url('../img/button1_bg.jpg');
  text-align: left !important;
  padding-left: 5px !important;
  margin-bottom: 5px !important;
  height: 30px !important;
  width: 160px; }

.prime-select-item-input {
  display: block !important;
  text-align: left !important;
  margin-bottom: 5px !important;
  padding-left: 5px !important;
  border-radius: 8px !important; }

.prime-select-item-input select {
  position: relative !important;
  top: -8px;
  padding: 0px;
  width: 90%;
  max-width: 90%;
  height: 25px !important;
  text-align: left !important;
  background-image: url('../img/button1_bg.jpg');
  direction: ltr !important;
  font-size: 17px;
  padding-left: 3px; }

.prime-select-item-input:after {
  position: absolute;
  right: 0px !important;
  top: 8px !important;
  width: 30px !important;
  height: 60% !important;
  border-top: none !important;
  border-right: none !important;
  background: url("../img/down_arrow.png") no-repeat 30% center !important;
  background-size: 55% auto !important;
  pointer-events: none; }