.side-menu {
	background-color: #3E3E3E;
	color:$light;
}

.side-menu .logout {
	color:$assertive;
} 

.login1 {
	// width:100%
	padding:10px;
	margin-bottom:10px;
}

.login1 input {
	margin-top:5px;
	width:100%;
}

.login1 .button.button1 {
	margin-top:5px;
	color:$assertive;
}

.side-menu .avatar {
	width:40px;
	height: 50px;
	margin-left:10px;
}