.tab-item .icon {
	background-repeat:no-repeat;
	background-size:40px 35px;
	width:40px;
	height:35px;
	margin-top:7px;
}

 .news-icon {
	background-image:url('../img/home.png');

}
.dora-icon {
	background-image:url('../img/dora.png');

}
 .missions-icon {
	background-image:url('../img/missions.png');

}
 .diagonismoi-icon {
	background-image:url('../img/diagonismoi.png');

}

.tab-item .prime-icon.icon {
	background-image:url('../img/prime.png');
	background-size:53px 35px;
	width:55px;
}

 .news-icon-red {
	background-image:url('../img/home_red.png');

}
.dora-icon-red {
	background-image:url('../img/dora_red.png');

}
 .missions-icon-red {
	background-image:url('../img/missions_red.png');

}
 .diagonismoi-icon-red {
	background-image:url('../img/diagonismoi_red.png');

}

.diagonismoiIconRedTest {
	background-image:url('../img/diagonismoi_red.png');

}

.tab-item .prime-icon-red.icon {
	background-image:url('../img/prime_red.png');
	background-size:53px 35px;
	width:55px;
}

.button.sideMenuBtn {
	margin-top:2px;
	width:30px;
	height:24px;
	min-height:24px;
}

.tabs-points {
	padding:0px 10px 0 10px;
	height: 35px;
}

.tabs1 .back-button {
	width:17px;
	height:29px;
	background-image:url('../img/back.png');
	background-repeat:no-repeat;
	margin-top:-2px;
}
.tabs1 .back-button span.default-title {
	display:none;
}

.tabs1 .rightnav {
	// width:120px;
}

.header-points {
	font-size: 23px!important;
	position:relative;
	right:-7px;
}

.header-points-icon {
	position: relative;
	top:5px;
}

