<!-- achievements -->
<ion-view hide-back-button="true" view-title="" class="gifts achievements" >
<ion-content class="background1">
<h1 class="subheading1" translate = "Achievments"></h1>

<ion-list>
<ion-item class="item-remove-animate background1 item-icon-right relative" ng-repeat="badge in badges" type="item-text-wrap">
<div class="row row-no-padding">
	<div class="col col-c85px">
		<!--<img ng-if="badge.percentage >= 100" class="img80x80" src="{{getLogoResourceUrl(badge)}}">-->
		<img class="home-card-image center" ng-src="{{getLogoResourceUrl(badge)}}" alt="" />
	</div>
	<div class="col paddingL10 item-text-wrap">
		<p class="" >{{ getResource(badge, "name") }}</p>
		<p class="" >{{ getResource(badge, "description") }}</p>
		<span class="heading3 margin-top10"><span class="bold">{{"Reward points" | translate}}: {{getReward(badge)}}</span> </span>
		<img class="list-p-icon" src="img/p_icon.png" alt="" />
	</div>
</div>
<div class="percent-container ">
		<div  class="progress-bar-full ">
			<div class="progress-bar" ng-style="{'width':getProgress(badge, resources) }"></div>
		</div>
			<h3 ng-if="badge.percentage < 100" class="percent">{{badge.progressSoFar}} / {{badge.completionValue}}</h3>
			<img ng-if="badge.percentage >= 100" class="tick1" src="img/tick.png" alt="" />
</div>

	<!--ng-show="achievement.aquired" -->
	
<!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
</ion-item>
<ion-infinite-scroll  ng-if="!loadMore()" on-infinite="addMoreItems()"  distance="50%" parent="true">
</ion-infinite-scroll>  
</ion-list>
</ion-content>
</ion-view>