<ion-view view-title="{{diagonismos.name}}">
<ion-content class="background1 " >

<!-- <img ng-src="{{diagonismos.face}}" style="width: 64px; height: 64px"> -->
<!-- <p>
  {{diagonismos.lastText}}
</p> -->

<h1 class="subheading1" translate="Redeem point gifts"></h1>


<div class="center">

  <div class="headeing2 bold assertive margin-top10">{{getTourResource(tournament, "name")}}</div>
  <img class="img150x100 margin-top10" src="{{getImageResourceUrl(tournament)}}" alt=""  />


<p class="paddingLR20">{{getTourResource(tournament, "description")}}</p>

<p ng-show="participationToggle">Δήλωσε συμμετοχή σήμερα!</p>

</div></div>

<div class="width100 background2 center padding">  
  <!--<div class="button  button-assertive button1 heading4" ng-click="toggle = !toggle" >
    {{toggleText}}
  </div>-->
<div on-tap="join(tournament,$event)"><span class="button  button-assertive button1 heading4" ng-show="participationToggle">ΔΗΛΩΣΕ ΣΥΜΜΕΤΟΧΗ</span><span class="button button1 heading4" ng-hide="participationToggle">Έχεις δηλώσει συμμετοχή</span></div>


 <div class="" > 
  <p class="heading4 margin-bottom0 margin-top10" ><span ng-show="participationToggle"> {{'Participation requirements' | translate }}:</span><span ng-hide="participationToggle">Τα αποτελεσματα θα ανακοινωθουν στης {{getExpirationTimeCounter(tournament)}}</span></p>
  <h4  class="assertive inline-block"><span ng-show="participationToggle">{{"100"}}</span><span ng-hide="participationToggle"></span></h4>
  <img ng-show="participationToggle" class="list-p-icon inline-block" src="img/p_icon.png" alt="" /></div>


</div>


</ion-content>
</ion-view>