<!-- howToRedeem -->
<ion-view hide-back-button="true" view-title="" class="gifts" >
<ion-content class="background1 how-to-redeem ">
<div class="row row-no-padding nav nav-tabs">
	<div ng-class="{background2:tab == 'howToWin'}" class="col header-tab " ng-click='tab="howToWin";'>
		<h4 class="heading4 margin-top0 margin-bottom0" translate="HowToWinPoints"></h4>
	</div>
	<div ng-class="{background2:tab == 'redeem'}" class="col header-tab" ng-click='tab="redeem"'>
		<h4 class="heading4 margin-top0 margin-bottom0" translate="HowToRedeemPoints"></h4>
	</div>
</div>

 <div class="tab-content">   
    <div ng-switch='tab'>
    
    
<div class="paddingLR10" ng-switch-default='howToWin' >
<br>
<div class="row row-no-padding">
	<div class="col">
		<h3 class="heading3 margin-bottom0" translate="AccompliceMissions"></h3>
	</div>
	<div class="col col-c85px background2 text-right padding5">
		<h3 class="heading3 bold margin-top0 margin-bottom0  inline-block p-icon">+1000</h3>
	</div>
</div>
<br>
<h3 class="heading3" translate="RedeemedPointsGifts"></h3>
<div class="row row-no-padding margin-top5">
	<div class="col">
		<h4 class="heading4 margin-bottom0" translate="RedeemFirstCoupon"></h4>
	</div>
	<div class="col col-c85px background2 text-right padding5 point-box">
		<h3 class="heading3 bold margin-top0 margin-bottom0  inline-block p-icon">+1000</h3>
	</div>
</div>
<div class="row row-no-padding margin-top5">
	<div class="col">
		<h4 class="heading4 margin-bottom0" translate="RedeemAnyCoupon"></h4>
	</div>
	<div class="col col-c85px background2 text-right padding5 point-box">
		<h3 class="heading3 bold margin-top0 margin-bottom0  inline-block p-icon">+1000</h3>
	</div>
</div>
<div class="row row-no-padding margin-top5">
	<div class="col">
		<h4 class="heading4 margin-bottom0" translate="SendCouponGift"></h4>
	</div>
	<div class="col col-c85px background2 text-right padding5 point-box">
		<h3 class="heading3 bold margin-top0 margin-bottom0  inline-block p-icon">+1000</h3>
	</div>
</div>
<br>
<h3 class="heading3" translate="RedeemedPointsGifts"></h3>
<div class="row row-no-padding margin-top5">
	<div class="col">
		<h4 class="heading4 margin-bottom0" translate="SignUpWithFacebook"></h4>
	</div>
	<div class="col col-c85px background2 text-right padding5 point-box">
		<h3 class="heading3 bold margin-top0 margin-bottom0  inline-block p-icon">+1000</h3>
	</div>
</div>
<div class="row row-no-padding margin-top5">
	<div class="col">
		<h4 class="heading4 margin-bottom0" translate="SignUpWithTwitter"></h4>
	</div>
	<div class="col col-c85px background2 text-right padding5 point-box">
		<h3 class="heading3 bold margin-top0 margin-bottom0  inline-block p-icon">+1000</h3>
	</div>
</div>
<div class="row row-no-padding margin-top5">
	<div class="col">
		<h4 class="heading4 margin-bottom0" translate="SignUp"></h4>
	</div>
	<div class="col col-c85px background2 text-right padding5 point-box">
		<h3 class="heading3 bold margin-top0 margin-bottom0  inline-block p-icon">+1000</h3>
	</div>
</div>
<br>
<div class="row row-no-padding margin-top5">
	<div class="col">
		<h4 class="heading4 margin-bottom0" translate="CompleteAchievements"></h4>
	</div>
	<div class="col col-c85px background2 text-right padding5 point-box">
		<h3 class="heading3 bold margin-top0 margin-bottom0  inline-block p-icon">+1000</h3>
	</div>
</div>

</div>

    

    
    
<div ng-switch-when='redeem'>
<div class="center">

  <div class="headeing2 bold assertive margin-top10">{{campaign.name}}</div>
  


<p class="paddingLR20">{{campaign.product}}</p>



</div>

<div class="width100 center padding">  
  <!--<div class="button  button-assertive button1 heading4" ng-click="toggle = !toggle" >
    {{toggleText}}
  </div>-->
  <br>
  <br>
  <br>
  <br>
<p>Μπορείς να εξαργυρώσεις τους πόντους <br>που κέρδισες, αγοράζοντας<br> κουπόνια με μοναδικές προσφορές!</p>
<br>
<p>Δες τα <font color="red" ng-click="goToState('tab.gifts')">δώρα εξαργύρωσης πόντων</font> τώρα!</p>
<br><br>
<img src="img\dora_red.png"/>
</div>
        </div>        
</ion-content>
</ion-view>