<!-- leaderboard -->
<ion-view hide-back-button="true" view-title="" class="gifts leaderboards" >
<ion-content class="background1">
<h1 class="subheading1" translate="leaderboards"></h1>

<ion-list>



<ion-item class="item-remove-animate background2 item-icon-right"  ng-repeat="item in items" type="item-text-wrap">
<div class="row row-no-padding">
  <div class="col col-center col-c50px">
    <h1  class="ranking " >{{getPosition(item)}}</h1>
  </div>
  <div class="col col-center col-c65px ">
    <img class="img100width" ng-src="{{getItemImageResourceUrl(item)}}">
  </div>
  <div  class="col col-center paddingL10 item-text-wrap">
    <h2 class="heading3 bold" >{{getResource(item, "name")}} </h2>
  </div>
  <div class="col col-center paddingL10 item-text-wrap">


   <h3 class="heading3 bold text-right">{{item.score}}
    <img class="list-p-icon" src="img/p_icon.png" alt="" />
  </div>
</div>
<i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>

<ion-item class="item-remove-animate background1 item-icon-right"  ng-repeat="item in items" type="item-text-wrap" >
<div class="row row-no-padding">
  <div class="col col-center col-c50px">
    <h1  class="ranking" ng-class="{'assertive':$index <= 2}" >{{$index+1}} </h1>
  </div>
  <div class="col col-center col-c65px ">
    <img class="img100width" ng-src="{{getItemImageResourceUrl(item)}}">
  </div>
  <div  class="col col-center paddingL10 item-text-wrap">
    <h3 class="heading3" >{{getResource(item, "description")}} </h3>
  </div>
  <div  class="col col-center paddingL10 item-text-wrap">
<h3 class="heading3 bold text-right">{{item.score}}
    <img class="list-p-icon" src="img/p_icon.png" alt="" />
</h3>
  </div>
</div>
<i class="icon ion-chevron-right icon-accessory"></i>
</ion-item>
</ion-list>
</ion-content>
</ion-view>