<ion-view class="loading background1" style="">
    <ion-content  scroll="false" class="loading">
         <img class="logo" src="img/loading.png" alt="" />
 
         <h3 class="heading3 loading-text">loading...</h3>
    </ion-content>
</ion-view>

