<!-- login -->
<div class="login1" ng-controller="LoginCtrl" ng-show="showLogin">
	<form>
		<input class="login-input" type="text" ng-value="user.username" ng-model="user.username" placeholder="{{'Username' | translate}}">
		<input class="login-input" type="password" ng-value="user.password" ng-model="user.password" placeholder="{{'Password' | translate}}">
		<br>
		<h3 class="light heading4 margin-bottom0 margin-top0" ng-click="forgotPassword()" translate="forgotPassword">Ξέχασα τον κωδικό μου</h3>
		<div class="row row-no-padding">
			<div class="col">
				<button class="button button1" type="" on-tap="login()" translate="Login"></button>
			</div>
			<div menu-close class="col col-bottom">
				<h4 class="heading4 assertive margin-bottom0" ng-click="goToState('tab.register')" translate="Register"></h4>
				<!--on-tap="register()"-->
			</div>
		</div>
	</form>
</div>