<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{diagonismos.name}}">
<ion-content class="background1 " >
<ion-nav name="tab-sideMenu-messageDetail"></ion-nav>
<!-- <img ng-src="{{diagonismos.face}}" style="width: 64px; height: 64px"> -->
<!-- <p>
  {{diagonismos.lastText}}
</p> -->

<h1 class="subheading1" translate="Redeem point gifts"></h1>


<div class="center">

  <div class="headeing2 bold assertive margin-top10">{{message.name}}</div>
  <img class="img150x100 margin-top10" src="{{message.img}}" alt=""  />


<p class="paddingLR20">{{message.product}}</p>

<p>Δήλωσε συμμετοχή σήμερα!</p>

</div></div>
 
  <!--<div class="button  button-assertive button1 heading4" ng-click="toggle = !toggle" >
    {{toggleText}}
  </div>-->


</ion-content>
</ion-view>