<div ng-controller="PollsCtrl">
<ion-scroll direction="y" style="width: 100%; height: 100%" class="scroll-padding" >
<ion-list>
<ion-item class="item-remove-animate  item-icon-right" ng-repeat="item in items" type="item-text-wrap" on-tap="join(item)">
<div class="row row-no-padding">
  <div class="col col-c85px">
    <img class="img80x80" ng-src="{{getItemImageResourceUrl(item)}}">
  </div>
  <div class="col  item-text-wrap paddingL10">
    <h3 class="heading4 bold" >{{getResource(item, "name")}} </h3>
    <h3 class="heading4 ">{{getResource(item, "description")}}</h3>
    <span class="mall-mission-status-container mall-mission-status-open">{{'MissionStatus_Running' | translate}}</span>
    <!--<h4 class="heading4 calm italic" translate="ReadMore"></h4>-->
    <span class="points" translate="Win"></span>
    <span class="points">{{getResource(item, "reward")}}</span>
    <img class="list-p-icon"src="img/p_icon.png" alt="" />
  </div>
</div>
</ion-item>
<br>
<br>
<br>
<ion-infinite-scroll  ng-if="!loadMore()" on-infinite="addMoreItems()"  distance="50%" parent="true">
</ion-infinite-scroll> 
</ion-list>
</ion-scroll>
</div>
