<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
 <ion-view view-title="">
    <ion-content class="poll-padding" overflow-scroll="true" enable-scroll>
            <div ng-if="showPoll" class="pollElement" style="height:100%; width:100%;">
                 <iframe ng-src="{{pollUrl}}" id="pollframe" data-tap-disabled="true" height="100%"  width="100%"></iframe>
            </div>
    </ion-content>
 </ion-view>