<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{klirosi.title}}">
<ion-content class="padding center">
<p>
  {{picture}}
</p>

</ion-content>
</ion-view>