<!-- Profile -->
  <ion-view hide-back-button="true" view-title="">
  <ion-content class=" padding">
  <h1 class="subheading1" translate="Profile"></h1>
  <page-break break="2"></page-break>
  <!-- center div -->
  <div center-content>
  <div class="container profile padding-top15">
    <div class="row row-no-padding">
      <div class="col col-c110px ">
        <div class="avatar-wrapper">
               <img id="imgToupload" class="col padding0" ng-src="{{picUrl}}" on-tap="chooseFileToupload()" alt="">
        </div>
      <input type="file" id="chooseImage" accept="image/*" style="display: none;"/>
      </div>
    
    <!-- upload picture -->
    <div class="row-fluid row-xs-height" >
      <!--<div class="col-xs-9 imgholder">
          <img id="imgToupload" src="img/upload_experience_noimage.png">
      </div>-->
      <div class="col-xs-4 col-xs-height chooseFileButtonHolder">
        <a class="btn btn-primary chooseFileButton" on-tap="chooseFileToupload()">
          <!--<span class="glyphicon glyphicon-upload"></span>  {{'UPLOAD_EXPERIENCE_CHOOSE_BTN'|translate}}-->
          </a>
      </div>
      <!-- input used only on web mode, it is hidden and click from js -->
    <input type="file" id="chooseImage" accept="image/*" style="display: none;"/>
    </div>
    
    
    
    <div class="col">
      <div class="row box2">
        <img class="" src="img/gear.png" on-tap="editprofile();" alt="">
        <div ng-if="!showEdit">
          <h2  class=" button heading2 pref-edit" on-tap="goToState('tab.profileEdit')" translate="profileEdit"></h2>
          <h2  class=" button heading2 pref-disconnect" on-tap="logoutBtn()" translate="Disconnect"></h2>
        </div>
      </div>
      <div ng-controller="UserBarController">
        <div ng-if="!isGuest"  class="row row-bottom padding-left10">
          <h2 class="heading4">{{nickname}}</h2>
        </div>
        <div ng-if="isGuest"  class="row row-bottom padding-left10">
          <h2 class="heading4" translate="Visitor"></h2>
        </div>
      </div>
      <div class="row row-bottom padding-left10">
        <p class="heading2">Αθήνα</p>
      </div>
    </div>
  </div>
  
  
  <!--<div class="row row-no-padding margin-top10" >
    <div class="col background1 box3" on-tap="goToState('home.myfriends')">
      <img src="img/friends.png" alt="">
      <p class="heading2">
        <span class="assertive">5</span>
      {{"Friends" | translate}}</p>
    </div>
    <div class="col background1 box3" ng-controller="BadgesCtrl" on-tap="goToState('home.mybadges')">
      <img src="img/badg_prof.png" alt="">
      <p class="heading2">
        <span class="assertive">{{mybadgesSize}}</span>
      {{"Badges" |translate}}</p>
    </div>
    <div class="col background1 box3"  ng-controller="FavoritesCtrl" on-tap="goToState('home.myfavorites')" >
      <img src="img/heart3.png" alt="">
      <p class="heading2">
        <span class="assertive">{{favoritesSize}}</span>
      {{"Favorites2" | translate}}</p>
    </div>
  </div>
  
  <div class="wrapper2 ">
    <div class="row row-no-padding padding5">
      <div class="col-c40px">
        <img class="icon3" src="img/coupon.png" alt="">
      </div>
      <div class="col">
        <h2 class="heading2 padding-top5"><span class="assertive">10&nbsp;</span>{{"Coupons" | translate}}</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-25">
    </div>
    <div class="col">
      <p class="margin-bottom0 heading2">-20% στις μπουγάτσες Θεσσαλονίκης με σοκολάτα</p>
      <h4 class="heading3 margin-top0" > {{"Until" | translate}}&nbsp; 29/5 </h4>
    </div>
  </div>
  <div class="wrapper2 ">
    <div class="row row-no-padding padding5">
      <div class="col-c40px">
        <img class="icon3" src="img/coupon.png" alt="">
      </div>
      <div class="col">
        <h2 class="heading2 padding-top5"><span class="assertive">10&nbsp;</span>{{"Coupons" | translate}}</h2>
      </div>
    </div>
  </div>-->

  <!--<div class="row">
    <div class="col col-25">
    </div>
    <div class="col col-center item-text-wrap" style="padding-left:15px;">
      <h2 class="heading2 ">Στεγανόπιτα Κοζάνης </h2>
                <!-- stars -->
          <!--<div class="row">
            <div class="star1 inline-block">
              4,9
            </div>
            <div class=" stars stars3 inline-block">  </div>
          </div>
    </div>
  </div>-->
</div>
</div>
<!-- </div> -->
</ion-content>
</ion-view>