<ion-view ng-controller="SideMenuCtrl">
<ion-content ng-controller="UserBarController" class="side-menu">
<div>
<div class="row row-no-padding padding-top10" ng-if="!showLogin">
		<div class="col col-c65px" menu-close on-tap ="tostateFromSideBar('tab.profile', isGuest)">
			<img  class="avatar"  ng-src="{{picUrl}}">
	    </div>
		<div class="col col-bottom" ng-model="isGuest">
			<div class="username">
                <span  class="user-bar-username heading2 margin-top10"  menu-close on-tap ="tostateFromSideBar('tab.profile', isGuest)">{{getUsername()}}</span><br>
                <span ng-if="isGuest"class="user-bar-login" style = "color:red;"  on-tap="toggle_visibility()">{{('Login'| translate)}}</span>        
                <span  ng-if="!isGuest" class="user-bar-login" translate="UserBarSignout" on-tap="logoutBtn('mainSidebar')"></span>
            </div>
		</div >
</div>
<div ng-if="showLogin" ng-include="'templates/login.html'"></div>
</div>

<div class="line1">	</div>
<div ng-click="goToState(menuChoice.linkTo)" ng-if="!isGuest" menu-close>
	<ul class="side-menu-ul" >
		<li>
			<div class="row">
				<div class="col col-20">
					<img ng-src='img/p_icon2.jpg'>
				</div>
				<div class="col" ng-click="goToState('tab.howTo&Redeem')" translate="howTo&RedeemMenuTitle"></div>
			</div>
			<div class="row">
				<div class="col col-20">
					<img ng-src='img/sidebar_icon1.jpg'>
				</div>
				<div class="col" ng-click="goToState('tab.profile')" translate="profileMenuTitle"></div>
			</div>
			<div class="row">
				<div class="col col-20">
					<img ng-src='img/sidebar_icon2.jpg'>
				</div>
				<div class="col" ng-click="goToState('tab.messages')" translate="messagesMenuTitle"></div>
			</div>
			<div class="row">
				<div class="col col-20">
					<img ng-src='img/sidebar_icon3.jpg'>
				</div>
				<div class="col" ng-click="goToState('tab.favorites')" translate="favoritesMenuTitle"></div>
			</div>
			<div class="row">
				<div class="col col-20">
					<img ng-src='img/sidebar_icon4.jpg'>
				</div>
				<div class="col" ng-click="goToState('tab.redeemed')" translate="redeemedMenuTitle"></div>
			</div>
			<div class="row">
				<div class="col col-20">
					<img ng-src='img/sidebar_icon5.jpg'>
				</div>
				<div class="col" ng-click="goToState('tab.leaderboards')" translate="leaderboardsMenuTitle"></div>
			</div>
			<div class="col" translate="Achievments"></div>
		</li>
	</ul>
</div>

<ion-scroll ng-if="!isGuest" ng-controller="SlideMenuBadges" class="wide-as-needed" direction="x"  menu-close>
<img  ng-repeat="badge in badges" ng-click="goToState('tab.achievements')" height="45" width="45" ng-src="{{getLogoResourceUrl(badge)}}"/>
<h1 ng-if="badge.percentage < 100">?</h1>
</ion-scroll>
	<div ng-click="changeLanguage((language == 'en')? 'el': 'en')">
    	<span translate="Switch_Language"></span>
    </div>
</ion-content>
</ion-view>